
body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Background.png");
    background-color: #000000;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    color: #ffffff;
    margin: 50px;
  }
  
  .image-container {
    margin-top: 20px;
    max-height: 250px;
  }

  .container form input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
  }

  .container form .convert-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .select-input {
    display: flex;
    width: 100%;
    border: 1px solid  #ffffff;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  } 

  .select-input > img {
    max-width: 30px;
    padding: 10px;
  }
  
  .select-input > select {
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 0 5px;
    color: #1b1a1a;
    border: none;
  }

.reverse > i{
  cursor: pointer;
  margin-top: 32px;
  font-size: 22px;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.result{
  font-size: 1 rem;
  margin: 20px 0 30px;
}

.button {
  width: 100%;
  height: 42px;
  color: #ffffff;
  background: #505bd5;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 0px;
}